version: '3.0'

networks:
  rest:
    driver: bridge

services:
  rest-service: 
    image: rest-application
    restart: on-failure
    build: .
    environment:
      - PORT=${PORT}
      - DB_HOST=${DB_HOST}
      - SALT=${SALT}
      - PASSWORD_HASH=${PASSWORD_HASH}
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
    depends_on:
      - postgres
    networks:
      - rest
    ports: 
      - "${PORT}:${PORT}"
    volumes:
      - ./src:/usr/app/src
      - ./logs:/usr/app/logs
  
  postgres: 
    image: postgres
    build: ./database
    volumes:
      - ./var/pgdata:/var/lib/postgresql/data
    environment:
      - DB_PORT=${DB_PORT}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_DB=${POSTGRES_DB}
    ports: 
      - "${DB_PORT}:${DB_PORT}"
    networks:
      - rest
  
